# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
tox/
nox/
coverage
coverage.*
cache
nosetests.xml
coverage.xml
*.cover
hypothesis/
pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
webassets-cache

# Scrapy stuff:
scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
pybuilder/
target/

# Jupyter Notebook
ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
pdm.toml
pdm-python
pdm-build/

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
env
venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
spyderproject
spyproject

# Rope
ropeproject

# mkdocs
/site

# mypy
mypy_cache/
dmypy.json

# Pyre
pyre/

# pytype
pytype/

# Cython
cython_debug/

# PyCharm
# Uncomment the following line to ignore the entire idea folder
.idea/

txt
data_files
saved_models
.DS_Store
data/.DS_Store
sbatch/Train/train_all_experiments_array.txt
sbatch/Predict/slurm_logs/
*.log
*.out
*.err
*.log.*
*.out.*
*.err.*
output/cross_predict
sbatch/Predict/predict_cross_all_part1 - 副本.txt
sbatch/Predict/predict_cross_all_part2 - 副本.txt
sbatch/Predict/predict_cross_all_part3 - 副本.txt
